<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haoutil.xposed.xled"
    android:versionCode="3"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".activity.ShowIcon"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".activity.SettingsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activity.AppListActivity"
            android:label="@string/app_config_name" />
        <activity android:name=".activity.AppItemActivity" />
        <activity
            android:name=".activity.ColorPickerActivity"
            android:label="@string/color_picker_name" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_descirption" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
    </application>

</manifest>